header {
  background: linear-gradient(to bottom, #000000, #491433);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;

  .header-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    .logo {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 2rem;

      img {
        height: 70px;
        width: 70px;
      }

      span {
        font-size: 3rem;
        font-weight: bold;
        color: #f85bb7;
      }
    }

    nav {
      display: flex;
      gap: 200px;
      flex-wrap: wrap;
      justify-content: center;

      a {
        color: #eeeeee;
        text-decoration: none;
        font-weight: 500;
        font-size: 1.5rem;
        

        &:hover {
          color: #f85bb7;
        }
      }
    }
  }

  .container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 30px;
    a{
      text-decoration: none;
    }
  }

  .hero-content {
    h1 {
      font-size: 3rem;
      font-weight: bold;
      color: #ffffff;
      margin-bottom: 15px;
    }

    p {
      color: #cccccc;
      font-size: 1.1rem;
      max-width: 700px;
      margin: 0 auto;
    }
  }

  .verify-button {
    background: radial-gradient(circle, #f85bb7 0%, #f85bb7 100%);
    border-radius: 50%;
    width: 200px;
    height: 200px;
    box-shadow: 0 0 20px #f85bb7a4;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 0 30px #f85bb7c7;
    }
  }

  @media (max-width: 768px) {
    .logo span {
      font-size: 1.5rem;
    }

    nav {
      flex-direction: column;
      gap: 10px;
    }

    .hero-content h1 {
      font-size: 2rem;
    }

    .verify-button {
      width: 150px;
      height: 150px;
      font-size: 1.2rem;
    }
  }
}


main{
.funcionamento{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  padding: 2rem;
  background-color:#491433 ;
  color: #ffffff;
  font-family: Arial, sans-serif;
}
.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 80vh;
  padding: 5rem;
  color: #ffffff;
  font-family: Arial, sans-serif;
  background: linear-gradient(to top, #000000, #491433);
  .form{ 
    width: 100%;
    label {
      display: block;
      margin-top: 10px;
    }

    input {
      width: 100%;
      padding: 1rem;
      margin-top: 5px;
      background-color: #007bff00;
      border-color: #ffffff;
      border-radius: 0.5rem;
      color: #ffffff;
    }

    button {
      margin-top: 15px;
      padding: 8px 12px;
      background-color: #007bff;
      color: white;
      border: none;
      cursor: pointer;
    }
  }
}

.resultado {
  height: 100vh;
  background: linear-gradient(to bottom, #000000, #491433);
  padding: 3rem;
  color:#ffffff;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
}
}
footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 20vh;
  background-color:#491433 ;
  color: #ffffff;
  font-family: Arial, sans-serif;
  div{
    display: flex;
    justify-content: space-between;
    a{
      text-decoration: none;
      color: #ffffff;
      display: flex;
      align-items: center;
    }
    a:hover{
      color: #f85bb7;
    }
  }
}
